$c-background-second: #D4D4D4;
$c-background: #FFFFFF;
$c-text: #3E4651;
$c-text-light: lighten($c-text, 10);
$c-accent: #F1654C;
$c-primary: #00B5B5;
@mixin transition($what) {
    -webkit-transition: $what;
    -moz-transition: $what;
    -ms-transition: $what;
    -o-transition: $what;
    transition: $what;
}
@mixin transform($what) {
    -webkit-transform: $what;
    -moz-transform: $what;
    -ms-transform: $what;
    -o-transform: $what;
    transform: $what;
}
@mixin shadow($what) {
    -webkit-box-shadow: $what;
    -moz-box-shadow: $what;
    box-shadow: $what;
}
@mixin bg-cover() {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}
