@import "_variables";
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.text-normal {
    font-weight: normal !important;
}

.align-vertical-center {
    display: table;
    width: 100%;
    * {
        vertical-align: middle;
    }
}

.q_full-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include bg-cover();
}

.q_mb-small {
    margin-bottom: 30px;
}

.q_mt-medium {
    margin-top: 50px;
}

.q_mb-0 {
    margin-bottom: 0;
}

.q_mt-0 {
    margin-top: 0;
}

.q_pt-0 {
    padding-top: 0 !important;
}

.q_mb-medium {
    margin-bottom: 100px;
}

.put-top {
    position: absolute;
    top: 0;
    padding-right: 15px;
}

.put-bottom {
    position: absolute;
    bottom: 0;
    padding-right: 30px;
    // display: inline-block;
    // vertical-align: bottom
}

.container-color {
    background-color: lighten($c-primary, 60);
}

.container-clean {
    background-color: #FFF;
}

.navbar-toggle {
    margin-top: 2px;
    border: none;
    background: transparent !important;
    .icon-bar {
        background-color: $c-primary !important;
        height: 5px !important;
        width: 30px !important;
    }
}

.h-section-header {
    font-size: 23px;
    &.big {
        font-size: 60px;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.sub {
    text-align: center;
    font-size: 17px !important;
    font-style: italic;
    &:before {
        content: "\2014";
        margin-right: 5px
    }
}

.q_p {
    padding: 50px 0;
}

.q_pb-0 {
    padding-bottom: 0;
}

.btn-primary {
    $c-bg: $c-accent;
    position: relative;
    border-radius: 0;
    vertical-align: top;
    font-size: 22px;
    color: white;
    text-align: center;
    background: $c-bg;
    border: 0;
    cursor: pointer;
    &.dirty {
        box-shadow: inset 0 -2px darken($c-bg, 5);
        -webkit-box-shadow: inset 0 -2px darken($c-bg, 5);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        border-bottom: 2px solid darken($c-bg, 5) !important;
    }
    &:active,
    &:focus {
        top: 1px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }
    &:active,
    &:focus {
        outline: none;
        background: $c-bg !important;
    }
    &:hover {
        background-color: darken($c-bg, 1);
    }
}

.btn-lg {
    padding: 20px 0;
    font-size: 25px;
}

.no-padding {
    padding: 0;
}

.f-right {
    float: right;
}

.color-primary {
    color: $c-primary;
}

.color-accent {
    color: $c-accent;
}

.container-fullscreen {
    &.first {
        margin-top: 0 !important;
    }
    // margin-top: -100px;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    max-height: 700px;
}

.container-video {
    max-height: inherit;
    overflow: hidden;
}

.bg-color-accent {
    background-color: $c-accent;
}

.bg-color-primary {
    background-color: $c-primary;
}

.bg-color-text {
    background-color: $c-text;
}

.bg-cover {
    @include bg-cover();
}

.bg-pos-top-center {
    background-position: top center;
}

.container-medium {
    max-width: 970px;
    margin: 15px auto 0;
}

.carousel-control {
    color: $c-accent !important;
    opacity: .8;
    @include transition(all .2s);
    width: 50px;
    &:hover {
        opacity: .9;
    }
    &.right {
        background-image: linear-gradient(to right, transparent 0px, rgba($c-accent, 0.5) 100%);
    }
    &.left {
        background-image: linear-gradient(to left, transparent 0px, rgba($c-accent, 0.5) 100%);
    }
}

.dropdown {
    &.account {
        margin-left: 15px !important;
        margin-top: -12px;
        @include transition(all .2s);
        background: none !important;
        a {
            &:before {
                content: none !important;
            }
        }
        .dropdown-toggle {
            display: block;
            background-color: transparent !important;
            .img {
                height: 50px;
                width: 50px;
                display: block;
                float: left
            }
            i.fa {
                position: relative;
                top: 13px;
                left: 5px;
                font-size: 20px;
            }
        }
        .dropdown-menu {
            padding: 5px;
            *:before {
                content: "";
            }
        }
    }
}
