@import "_variables";
$sidebar: 250px;
$fonts: 'Roboto', sans-serif;
//colors
$c-primary: #32C5D2;
$c-primary-dark: darken($c-primary, 5);
$c-primary-dark2: darken($c-primary-dark, 5);
$c-accent: #E7505A;
$c-accent-dark: darken($c-accent, 5);
$c-accent-dark2: darken($c-accent-dark, 5);
$c-accent2: #97CE68;
$c-text: #364150;
$c-text-light: lighten($c-text, 40);
$c-background: #FFFFF7;
body, html, .core {
    height: 100%;
}

body {
    font-family: $fonts;
}

.navbar {
    margin-bottom: 0;
    background-color: darken($c-text, 10);
    border-radius: 0;
    border: 0;
    color: $c-background;
    .nav {
        float: right;
        > li {
            display: inline-block !important;
            > a {
                color: $c-background;
            }
        }
    }
    .navbar-header {
        .navbar-brand {
            width: $sidebar;
            font-weight: 300;
            a {
                text-decoration: none;
                &.sub {
                    float: right;
                    outline: 0;
                }
            }
        }
        .navbar-toggle {
            display: block !important;
            border: 0;
            border-radius: 0;
            background-color: transparent !important;
            &:hover {
                span {
                    background-color: lighten($c-text, 30);
                }
            }
            span {
                @include transition(background-color .2s);
                background-color: lighten($c-text, 20);
                height: 1px;
            }
        }
    }
}

.page {
    position: relative;
    height: 100%;
    .sidebar {
        @include transition(left .2s ease-in-out);
        width: $sidebar;
        background: $c-text;
        position: absolute;
        height: 100%;
        left: 0;
        z-index: 1;
        &.affix {
            top: 0;
            position: fixed
        }
        .nav {
            li {
                &.active {
                    a {
                        background-color: darken($c-text, 10);
                    }
                }
                a {
                    color: $c-background;
                    background-color: transparent;
                    @include transition(background-color .2s);
                    &:hover, &:not(.special):focus {
                        background-color: darken($c-text, 5);
                        outline: 0;
                    }
                    &[data-toggle=collapse] {
                        outline: none;
                        &:not(.collapsed) {
                            background-color: $c-primary;
                            i {
                                @include transition(all .2s);
                                @include transform(rotate(-90deg))
                            }
                        }
                        i {
                            margin-top: 3px;
                            @include transform(rotate(0deg))
                        }
                    }
                }
            }
            .submenu {
                @include shadow(inset 0 0 10px rgba(#000, .5));
                .nav {
                    li {
                        a {
                            padding-left: 30px;
                            background-color: rgba($c-text, .5) !important;
                            &:hover, &:focus {
                                background-color: darken($c-text, 5) !important;
                                outline: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .container-data {
        @include transition(padding-left .2s ease-in-out);
        padding-left: $sidebar + 15px;
        .breadcrumb {
            background-color: #FFF;
            margin: 0 -15px;
            border: 0;
            border-bottom: 1px solid $c-text-light;
            border-radius: 0;
        }
    }
}

.sidebar-collapsed {
    .sidebar {
        left: -$sidebar;
    }
    .container-data {
        padding-left: 15px;
    }
}

.panel {
    @include shadow(0 0 7px $c-text-light);
    border-radius: 0;
    border: 0;
    .panel-heading {
        border-radius: 0;
        color: #FFF;
        background-color: $c-primary;
    }
}

.color-primary {
    color: $c-primary;
}

.color-accent {
    color: $c-accent;
}

.color-text {
    color: $c-text;
}

.color-background {
    color: $c-background;
}

a.sub {
    font-size: 13px;
}

[data-toggle=collapse] {
    i {
        float: right
    }
}

label small {
    color: lighten($c-text, 20);
    font-weight: lighter
}

.btn {
    border: 0;
    border-radius: 0;
    @include transition(all .2s);
    @include shadow(0 2.5px 10px rgba($c-text, .4));
    &.btn-primary {
        border: 1px solid $c-primary;
        background-color: $c-primary;
        &:hover, &:focus {
            background-color: $c-primary-dark;
        }
        &:active {
            background-color: $c-primary-dark2 !important;
        }
    }
    &.btn-danger {
        border: 1px solid $c-accent;
        background-color: $c-accent;
        &:hover, &:focus {
            background-color: $c-accent-dark;
        }
        &:active {
            background-color: $c-accent-dark2 !important;
        }
    }
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba($c-primary, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba($c-primary, .5);
    outline: 0 none;
}

.modal {
    @include transition(all .15s);
    &.full {
        &#imgZoom {
            cursor: zoom-out;
            .modal-content {
                @include shadow(none);
                border: 0;
                background-color: transparent
            }
            .img-container {
                img {
                    background-color: rgba(255, 255, 255, .5);
                    @include shadow(0 2.5px 10px rgba(#000, .4));
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
        .modal-dialog {
            height: 90%;
            .modal-body {
                height: 100%;
                .img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    &.fade {
        &.in {
            .modal-dialog {
                @include transform(scale(1));
                opacity: 1;
            }
        }
        .modal-dialog {
            opacity: 0;
            @include transform(scale(0.1));
            @include transition(all .15s);
        }
    }
    &.fail {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    background-color: $c-accent;
                    color: #FFF;
                }
            }
        }
    }
    &.ok {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    background-color: $c-primary;
                    color: #FFF;
                }
            }
        }
    }
    .modal-dialog {
        .modal-content {
            border-radius: 0 !important;
        }
    }
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}

.form-group {
    label {
        font-weight: 700
    }
    .form-control {
        border-radius: 0;
    }
    .input-group-addon {
        border-radius: 0;
    }
}

#loading {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .loading-container {
        width: 100%;
        height: 100%;
        display: table;
        .content {
            text-align: center;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            i {
                font-size: 75px;
                color: #FFF;
            }
        }
    }
}

.bg-cover {
    @include bg-cover();
}

.files {
    .row {
        // margin: 0 - 22.5px;
        .col {
            margin-top: 15px;
            padding: 0 7.5px;
            .img-container {
                border: 1px solid $c-text-light;
                width: 100%;
                padding-bottom: calc(100% - 15px);
                position: relative;
                img {
                    background-color: rgba(255, 255, 255, .5);
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
            .actions {
                height: 30px;
                .btn {
                    padding: 0;
                    height: 100%;
                    float: left;
                    font-size: 15px;
                    color: $c-text;
                    &.q_btn-sm {
                        width: 33.33%;
                    }
                    &.q_btn-md {
                        width: 66.66%;
                    }
                }
            }
        }
    }
}

.nav-tabs {
    background: $c-primary;
    li {
        &.active {
            a {
                color: #FFF;
                background: rgba(#000, .2);
                &:hover, &:focus, &:active {
                    color: #FFF;
                    background: rgba(#000, .1);
                    cursor: pointer;
                    outline: 0;
                }
            }
        }
        a {
            margin: 0;
            border: 0 !important;
            color: #FFF;
            border-radius: 0 !important;
            &:hover, &:focus, &:active {
                border: 0;
                background: rgba(#000, .1);
            }
        }
    }
}

.upload-btns {
    &.special {
        .btn {
            margin-right: 11px !important
        }
    }
    margin: 15px -7.5px 0;
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }
    input[readonly] {
        background-color: white !important;
        cursor: text !important;
        border-radius: 0;
    }
}

.btns-group {
    margin-top: 15px;
    .btn {
        margin: 0 -7.5px;
    }
}

#index-intro {
    .img-container {
        border: 1px solid $c-text-light;
        width: 100%;
        padding-bottom: calc(100% - 15px);
        position: relative;
        img {
            background-color: rgba(255, 255, 255, .5);
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
    }
}

#selectImage {
    .files {
        .img-container {
            cursor: pointer;
        }
    }
}

.img-container {
    overflow: hidden
}

.one-line-stuff {
    $h: 30px;
    margin-bottom: 15px;
    height: $h;
    &.v3 {
        margin-left: -7.5px;
    }
    &.v4 {
        margin: 15px -7.5px 0;
    }
    &.v5 {
        margin: 15px 0;
    }
    label {
        line-height: $h;
    }
    .btn {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
    }
}

.table-actions {
    width: 72px;
    height: 30px;
    .btn {
        padding: 0;
        height: 100%;
        width: calc(50% - 4px);
        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
    }
}

select {
    border-radius: 0 !important;
    width: auto !important;
    padding: 0 7.5px !important;
    height: 30px !important;
    &.full {
        width: 100% !important;
    }
}

#about-form-img, #about-form-img-edit, #categoryActions, #profile-edit, #form-add-project {
    .img-container {
        border: 1px solid $c-text-light;
        width: 100%;
        padding-bottom: calc(100% - 15px);
        position: relative;
        img {
            background-color: rgba(255, 255, 255, .5);
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}

.xs-img {
    max-width: 200px;
    max-height: 100px;
    margin: auto;
    display: block
}

.dn {
    display: none !important;
}

.overlay-stuff {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(#000, .5);
    z-index: 5;
    .content {
        @include shadow(0 0 7px solid $c-text-light);
        width: 400px;
        max-width: 100%;
        height: 100%;
        background-color: #FFF;
        position: absolute;
        right: 0;
        overflow: auto;
        .close {
            margin: 9px 12px;
        }
        .panel {
            @include shadow(none);
            height: 100%;
            margin-bottom: 0;
        }
    }
}

.upload {
    .drop {
        text-transform: uppercase;
        font-size: 16px;
        color: $c-text;
        input {
            display: none;
        }
    }
    .progress {
        margin: 7.5px 0;
        .progress-bar {
            @include transition(all .2s);
            &:not(.active) {
                background-color: $c-primary-dark2;
            }
        }
    }
    .file-name {
        height: 20px;
        line-height: 20px;
        margin: 7.5px 0;
        overflow: hidden;
    }
}
textarea {
    &.form-control {
        resize: vertical
    }
}
.tabs-holder {
    @include shadow(0px 0px 7px #98A6BA);
}
.table {
    &.single {
        margin-top: 15px;
    }
}