@import "_variables";
$fonts: 'Roboto', sans-serif;
$fonts_size: 16px;
$fz-small: 14px;
$fz-normal: 15px;
body {
    font: $fonts_size $fonts;
}

html, body {
    height: 100%;
}

.navbar {
    @include transition(all .5s);
    margin-bottom: 0;
    background-color: $c-background;
    > div {
        .navbar-header {
            padding-top: 6px;
            .navbar-brand {
                font-weight: 900;
                font-size: 30px;
                color: $c-text;
                text-transform: uppercase;
                &.image {
                    float: left;
                    img {
                        height: 100%;
                        width: 100px;
                    }
                }
            }
        }
        .navbar-nav {
            padding-top: 5px;
            & > li {
                margin-left: 45px;
                padding-top: 10px;
                &.special {
                    > a {
                        color: $c-primary;
                        &:before {
                            background-color: $c-primary;
                        }
                    }
                }
                &.active {
                    > a {
                        background-color: transparent;
                        color: $c-accent;
                        &:before {
                            background-color: $c-accent;
                            opacity: 1;
                            bottom: -2px;
                        }
                        &:hover {
                            color: $c-accent;
                        }
                    }
                }
                &:hover {
                    background-color: transparent !important;
                    > a {
                        background-color: transparent !important;
                        &:before {
                            opacity: 1;
                            bottom: -2px;
                        }
                    }
                }
                > a {
                    // text-transform: uppercase;
                    padding: 5px 0;
                    font-weight: bold;
                    font-size: 16px;
                    color: $c-text;
                    @include transition(all .2s);
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        opacity: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $c-text;
                        @include transition(all .2s);
                    }
                }
                .dropdown-menu {
                    li {}
                }
            }
        }
        .navbar-form {
            .form-group {
                position: relative;
            }
            input, button {
                border-radius: 0;
                margin: 0;
                &:focus {
                    border-color: $c-primary !important;
                    @include shadow(none);
                }
            }
            button[type=submit] {
                border: none;
                margin-top: -1px;
                height: 46px;
                font-size: 20px;
                background-color: transparent;
                width: 50px;
                border-color: transparent;
                padding-top: 2px;
                color: $c-primary;
                position: relative;
                z-index: 1;
            }
            input[type=text] {
                padding-right: 62px;
                height: 50px;
                font-size: 16px;
                color: $c-text;
                margin-right: -55px;
                border-width: 2px;
                border-color: $c-background-second;
                position: relative;
                color: $c-primary;
                + label {
                    position: absolute;
                    right: -39px;
                    top: 12px;
                    font-size: 20px;
                    color: $c-background-second;
                }
                &:focus + label {
                    @include transition(all .2s);
                    @include transform(scale(1.3));
                    color: $c-primary;
                }
            }
        }
    }
}

.intro {
    height: 500px;
    .row {
        height: 100%;
        > div {
            * {
                @include transition(all .3s);
            }
            height: 100%;
            overflow: hidden;
            &:hover {
                background-size: 120%;
                .q_image {
                    @include transform(scale(1.1))
                }
                .title {
                    background-color: rgba(#000, .6);
                    h1 {
                        padding-bottom: 50px;
                    }
                    .q_btn {
                        bottom: 100px;
                        a {
                            opacity: 1;
                        }
                    }
                }
            }
            .q_image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include bg-cover();
            }
            .title {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(#000, .4);
                display: table;
                h1 {
                    display: table-cell;
                    vertical-align: middle;
                    font-weight: 900;
                    font-size: 60px;
                    text-transform: uppercase;
                    text-align: center;
                    color: $c-background;
                    word-break: break-all;
                    line-height: .95;
                }
                .q_btn {
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    bottom: 50px;
                    a {
                        opacity: 0;
                        background-color: transparent;
                        padding: 15px 50px;
                        border-width: 2px;
                        border-color: $c-background;
                        color: $c-background;
                        text-transform: none;
                        font-size: 20px;
                        &:hover {
                            color: $c-text;
                            background-color: $c-background;
                        }
                    }
                }
            }
        }
    }
}

#latestProjects {
    padding: 50px 0;
    .tab-content {
        // padding: 50px 0 100px;
        position: relative;
        // height: 100%;
        overflow: hidden;
        > div {
            height: 100%;
            h3 {
                font-size: 20px;
                margin: 0;
                padding: 5px 0;
                color: $c-text-light;
            }
            a {
                float: right;
                color: lighten($c-text, 20);
                font-size: $fz-small;
                &:hover {
                    color: $c-text;
                }
            }
        }
        .fade {
            opacity: 1;
            @include transition(all .1s ease);
            @include transform(translateX(100%));
            &.in {
                opacity: 1;
                @include transform(translateX(0));
            }
        }
    }
    .nav-tabs {
        height: 100%;
        border: none;
        border-left: 1px solid lighten($c-text, 60);
        overflow: auto;
        li {
            display: block;
            float: none;
            padding: 5px 0 5px 15px;
            margin-left: -1px;
            &:hover, &.active {
                a {
                    display: inline;
                    color: $c-primary;
                    cursor: pointer;
                    border-width: 0;
                    background-color: transparent;
                    text-decoration: underline;
                }
            }
            &.active {
                padding-left: 12px !important;
                border-left: 3px solid $c-primary !important;
            }
            a {
                padding: 0;
                border-width: 0;
                color: $c-text;
                font-size: 15px;
            }
        }
    }
}

#popularProjects {
    .projects {
        > div {
            .content {
                position: relative;
                @include bg-cover();
                &:before {
                    content: "";
                    display: block;
                    padding-top: 65%;
                }
                &.dynamic {
                    height: auto !important;
                }
                h4 {
                    padding-top: 5px;
                }
            }
        }
    }
}

#categories {
    .categories {
        > div {
            position: relative;
            &:before {
                content: "";
                display: block;
                padding-top: 100%;
            }
            .content {
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .cat-img {
                    text-decoration: none;
                    display: block;
                    @include bg-cover();
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    margin: 10px;
                    &:hover {
                        .content-overlay {
                            background-color: rgba(#000, .1);
                            .content-overlay-text {
                                font-size: 25px;
                            }
                        }
                    }
                    .content-overlay {
                        width: 100%;
                        height: 100%;
                        background-color: rgba(#000, .5);
                        @include transition(background-color .2s);
                        cursor: pointer;
                        display: table;
                        .content-overlay-text {
                            width: 100%;
                            height: 100%;
                            color: #FFF;
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                            font-size: 22px;
                            font-weight: lighter;
                            @include transition(all .2s);
                            i {
                                $fz: 20px;
                                $fz2: $fz + ($fz / 10);
                                border-radius: 100%;
                                padding: $fz2 ($fz2 * 2) ($fz2 * 2) $fz2;
                                width: $fz;
                                height: $fz;
                                font-size: $fz + ($fz / 2);
                                background-color: #FFF;
                                color: $c-text;
                                display: inline-block;
                                margin: auto;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.q_todayProject {
    .col-eq {
        height: 350px;
    }
    .col-img {}
    h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
    }
    a {
        font-weight: lighter;
        color: $c-text-light;
        &.sub {
            float: none !important;
            font-style: italic;
        }
    }
    p {
        color: lighten($c-text, 10);
        margin-top: 20px;
        font-size: $fz-normal;
    }
}

.projectDetails {
    width: 100%;
    h4 {
        text-align: left !important;
        a {
            float: none !important;
            text-align: left !important;
            font-size: 22px !important;
            color: $c-text !important;
        }
    }
    .progress {
        background: lighten($c-text, 55);
        margin: 10px 0;
        width: 100%;
        height: 15px;
        border-radius: 15px;
        .progress-bar {
            background: $c-primary;
        }
    }
    .list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-right: 25px;
            display: inline-block;
            font-weight: lighter;
            a {
                font-size: $fz-small;
                @include transition(color .2s);
                &:hover {
                    text-decoration: none;
                    $c: darken($c-text, 20);
                    color: $c;
                    i {
                        color: $c;
                    }
                }
                i {
                    @include transition(color .2s);
                }
            }
            span {
                font-size: $fz-small;
                display: block;
                &.bold {
                    font-weight: bold;
                }
                &.text {
                    color: lighten($c-text, 10);
                }
            }
        }
    }
}

#footer {
    width: 100%;
    .footer-header {
        height: 200px;
        width: 100%;
        background: url('../../media/img/footer.png') repeat center;
        background-size: auto 100%;
    }
    .footer-body {
        padding: 15px;
        background-color: #313131;
    }
}

.modal {
    background-color: rgba(0, 0, 0, .75);
    &.fade {
        // animation: pulse .5s;
    }
    &.sign {
        $color-primary: $c-primary;
        $color-accent: $c-accent;
        $input-height: 50px;
        $fz-big: 22px;
        &.special {
            .modal-dialog {
                width: 475px;
            }
        }
        .modal-dialog {
            width: 375px;
            position: relative;
        }
        .modal-loading {
            background-color: rgba(255, 255, 255, .75);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            .modal-loading-container {
                width: 100%;
                height: 100%;
                display: table;
                .content {
                    text-align: center;
                    height: 100%;
                    display: table-cell;
                    vertical-align: middle;
                    i {
                        font-size: 75px;
                        color: $color-accent;
                    }
                }
            }
        }
        .modal-content {
            border-radius: 0;
            p {
                font-size: 13px;
                text-align: center;
                margin: 0;
                &.text-left {
                    text-align: left;
                }
                label {
                    font-weight: normal;
                }
                a {
                    text-decoration: underline;
                    color: $color-primary;
                    &.f-right {
                        padding-top: 3px;
                    }
                }
            }
            .modal-header {
                height: auto;
                padding: 10px 0;
                background: $color-primary;
                color: #FFF;
                position: relative;
                margin-bottom: 15px;
                &:after {
                    $s: 15px;
                    content: "";
                    position: absolute;
                    left: calc(50% - 15px);
                    bottom: -$s;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: $s $s 0 $s;
                    border-color: $color-primary transparent transparent transparent;
                }
                .modal-title {
                    text-transform: uppercase;
                    text-align: center;
                    font-size: $fz-big;
                    margin: 0;
                }
                .icon {
                    text-align: center;
                    margin: auto;
                    display: table;
                    margin-bottom: 5px;
                    i {
                        display: block;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        padding: 5px;
                        font-size: 35px;
                        display: table-cell;
                        vertical-align: middle;
                        border: 2px solid #FFF;
                    }
                }
            }
            .modal-footer {
                padding: 10px;
            }
            .modal-body {
                .tooltip {
                    .tooltip-inner {
                        background-color: $color-accent;
                    }
                    .tooltip-arrow {
                        // border-color: transparent transparent transparent $color-accent;
                        border-color: $color-accent transparent transparent transparent;
                    }
                }
                form {
                    .form-group {
                        margin-bottom: 15px;
                        .input-group {
                            width: 100%;
                            .input-group-addon {
                                border-radius: 0;
                                background: $color-primary;
                                color: #FFF;
                                border: 0;
                                font-size: 21px;
                                height: $input-height;
                                width: $input-height;
                                padding: 0;
                                @include transition(all .2s);
                                &.err {
                                    background: $color-accent;
                                }
                                label {
                                    width: 100%;
                                    height: $input-height;
                                    display: block;
                                    margin-bottom: 0;
                                    display: table;
                                    i {
                                        display: table-cell;
                                        vertical-align: middle;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                            input {
                                width: 100%;
                                border: 0;
                                border-radius: 0;
                                box-shadow: none;
                                background-color: #DFDFDF;
                                font-size: 17px;
                                height: $input-height;
                                @include transition(all .2s);
                                &:focus {
                                    background-color: #d1d1d1;
                                }
                            }
                        }
                    }
                    [type=submit] {
                        font-size: $fz-big;
                        text-transform: uppercase;
                        border: 0;
                        box-shadow: none;
                        margin-bottom: 0;
                        padding: 0;
                        height: $input-height;
                        background-color: $color-primary;
                        margin-top: 15px;
                        &:focus, &:active {
                            background-color: $color-primary !important;
                        }
                    }
                    .alert {
                        border-radius: 0;
                        border: 0;
                        &.alert-danger {
                            background-color: $color-accent;
                            color: #FFF;
                            // padding: 7px;
                            height: $input-height / 2;
                            padding-left: 0;
                            padding: 0;
                            margin-bottom: 7.5px;
                            font-size: 15px;
                            .alert-content {
                                width: 100%;
                                display: inline-block;
                                vertical-align: middle;
                                i {
                                    text-align: center;
                                    width: $input-height;
                                    font-size: 15px;
                                    margin-right: 7px;
                                    margin-top: 6px;
                                }
                                .close {
                                    color: #FFF;
                                    opacity: .5;
                                    margin-right: 10px;
                                    margin-top: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes pulse {
    20% {
        @include transform(scale(0));
    }
    50% {
        @include transform(scale(1.1));
    }
    100% {
        @include transform(scale(1));
    }
}

// begin about.php
.container-video-content {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    .container {
        display: table-cell;
        vertical-align: middle;
        h1 {
            color: #FFF;
            text-align: center;
            font-size: 35px;
            font-weight: 700 !important;
        }
    }
}

.container-medium {
    margin: 0 auto;
    .content {
        h2 {
            text-align: center;
            font-weight: 300;
        }
        p {
            font-size: 20px;
            font-weight: 300;
        }
    }
}

.container-is-up {
    position: relative;
    // margin-bottom: 150px
}

.container-not-up {
    top: 0 !important;
}

.container-up {
    position: relative;
    // top: -100px;
    // margin-top: -100px;
    color: #FFF;
    padding: 30px;
}

//end about.php
// begin discover.php
#carousel_one {
    .q_todayProject {
        .col-info {
            padding-right: 100px !important;
        }
    }
}

// end discover.php
.dn {
    display: none !important;
}

.img-container {
    width: 100%;
    img {
        background-color: rgba(255, 255, 255, .5);
        max-width: 100%;
        max-height: 100%;
    }
    &.special {
        border: 1px solid $c-text-light;
        width: 100%;
        padding-bottom: calc(100% - 15px);
        position: relative;
        img {
            background-color: rgba(255, 255, 255, .5);
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}

h1 {
    &.huge {
        font-size: 50px;
        font-weight: bold;
        line-height: .75;
    }
    &.special {
        line-height: .75;
        small {
            font-size: 18px;
        }
    }
}

.straight {
    margin-top: 15px;
    p {
        i {
            width: 16px;
            text-align: center;
        }
    }
}
p {
    &.description {
        line-height: 1.5;
        font-weight: lighter;
        text-justify: auto;
        text-align: justify;
        font-size: 18px
    }
}
.special-v2 {
    margin-top: 70px;
}