@media only screen and (min-width: 768px) {
    .container-video-content {
        .container {
            padding: 0 100px;
            h1 {
                font-size: 50px;
            }
        }
    }
    .navbar {
        border: none;
        border-radius: 0;
        height: 100px;
        display: table;
        width: 100%;
        &.navbar-fixed-top {
            height: 50px;
            .navbar-form {
                button[type=submit] {
                    height: 36px;
                    width: 36px;
                }
                input[type=text] {
                    margin-right: -42px;
                    height: 40px;
                    + label {
                        right: -33px;
                        top: 7px;
                    }
                }
            }
        }
        > div {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .navbar {
        > div {
            width: 100%;
        }
        .navbar-nav {
            li {
                margin-left: 17px !important;
            }
        }
        .navbar-header {
            margin-bottom: -10px !important;
            float: none;
            display: table;
            margin: auto;
        }
    }
    .intro {
        height: 400px;
    }
}
@media screen and (min-width: 992px) {
    .container-up {
        padding: 75px 200px;
    }
}
@media screen and (max-width: 768px) {
    .container-is-up {
        padding: 15px;
    }
    .container-up {
        .content {
            h2 {
                font-size: 25px !important;
            }
        }
    }
    #latestProjects, #popularProjects {
        .tab-content {
            padding-bottom: 0;
        }
        .col-img {
            height: 200px;
        }
        .col-info {
            height: auto;
        }
        .projectDetails {
            margin-top: 35px;
            &.put-bottom {
                position: relative !important;
            }
        }
        .projects {
            > div {
                padding-bottom: 50px;
                &:last-child {
                    padding-bottom: 0;
                }
            }
            .content {
                &:before {
                    padding-top: 20% !important;
                }
            }
        }
    }
}
